
/*preloader*/
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

/*preloader*/



#background{
    overflow: visible;
    background: cadetblue repeat;
    min-height: 800px;
    min-width: 1300px;
    width: 100%;
    height: 100%;
}
#main_container{
    overflow: visible;
    min-height: 800px;
    min-width: 1300px;
    width: 100%;
    height: 100%;
}
div.seats_list{
    width: 100%;
}
/**/
div.container{
    display:none;
    overflow: hidden;

}
.content{
    overflow: hidden;
    width: 70%;
    min-width: 800px;
    min-height: 800px;
    float: left;
}
.side_bar{
    width: 30%;
    min-height: 540px;
    margin-left: 70%;
}
.result_list{
    /*position: absolute;*/
    margin-bottom: 10%;
}
div.side_bar{
    padding-top: 30px;
}
/**/

button.btn_add_to_bucket {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
button.btn_add_to_bucket:hover { background: rgb(53, 167, 110); }
button.btn_add_to_bucket:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
/**/
span.empty_seat{
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkolivegreen;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}
span.empty_right_lux_seat{
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkslateblue;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
span.empty_left_lux_seat{
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkslateblue;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}
/**/
div.empty_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkolivegreen;
    border-radius: 5px;
    margin: 5px;
    text-align: center;

}

div.empty_left_lux_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkslateblue;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

div.empty_right_lux_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: darkslateblue;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

div.reserved_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: indianred;
    text-align: center;
}

div.reserved_seat:hover {
    background: darkred;
    transition: 1s;

}

div.reserved_right_lux_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: indianred;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    content: "";

}

div.reserved_right_lux_seat:hover {
    background: darkred;
    transition: 1s;
    content: "";
}

div.reserved_left_lux_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: indianred;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    text-align: center;

}

div.reserved_left_lux_seat:hover {
    background: darkred;
    transition: 1s;
}

div.used_seat {
    display:inline-block;
    width: 20px;
    height: 20px;
    background: gray;
    margin: 5px;
    text-align: center;
}

div.empty_seat:hover {
    transform: scale(1.5);
    transition: 2s;
}

div.empty_left_lux_seat:hover {
    transform: scale(1.3);
    transition: 2s;
}

div.empty_right_lux_seat:hover {
    transform: scale(1.3);
    transition: 2s;
}
/*подсказки*/

div.used_seat em{
    display: none;
}
div.reserved_seat em {
    display: none;
}
div.reserved_left_lux_seat em {
    display: none;
}
div.reserved_right_lux_seat em {
    display: none;
}

div.empty_seat em {
    display: none;
}
div.empty_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}
/**/
div.empty_left_lux_seat em {
    display: none;
}
div.empty_left_lux_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_left_lux_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}
/**/
div.empty_right_lux_seat em {
    display: none;
}
div.empty_right_lux_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_right_lux_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}

